*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #f3f4f6;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* LEFT */

.left-side{
  width: 50%;
  background: #22c55e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay{
  color: white;
  padding: 60px;
}

.overlay h1{
  font-size: 70px;
  margin-bottom: 20px;
}

.overlay p{
  font-size: 22px;
  max-width: 400px;
  line-height: 1.5;
}

/* RIGHT */

.right-side{
  width: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box{
  width: 100%;
  max-width: 420px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo span{
  font-size: 30px;
}

.logo h2{
  color: #111827;
}

.form-box h1{
  font-size: 42px;
  color: #111827;
  margin-bottom: 10px;
}

.subtitle{
  color: #6b7280;
  margin-bottom: 30px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input{
  padding: 16px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
}

input:focus{
  border-color: #22c55e;
}

button{
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #22c55e;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: #16a34a;
}

.login-text{
  margin-top: 25px;
  text-align: center;
  color: #6b7280;
}

.login-text a{
  color: #22c55e;
  text-decoration: none;
  font-weight: bold;
}

/* RESPONSIVO */

@media(max-width: 900px){

  .container{
    flex-direction: column;
  }

  .left-side{
    width: 100%;
    height: 250px;
  }

  .right-side{
    width: 100%;
    padding: 40px 20px;
  }

  .overlay h1{
    font-size: 50px;
  }

  .overlay p{
    font-size: 18px;
  }
}